<h1>{{title}}</h1>
<hr/>
<form #formProduct="ngForm" class="col-lg-6" id="formProducts" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

  <label>Codigo Producto:
    <span class="label label-danger" *ngIf="!code.valid && code.touched">El Codigo del Producto es obligatorio</span>
  </label>
  <input class="form-control" #code="ngModel" name="code" [(ngModel)]="product.code" required>

  <br/>

  <label>Nombre:
    <span class="label label-danger" *ngIf="!productName.valid && productName.touched">El Nombre del Producto es obligatorio</span>
  </label>
  <input class="form-control" #productName="ngModel" name="productName" [(ngModel)]="product.productName" required>


  <label>Descripcion:
    <span class="label label-danger" *ngIf="!description.valid && description.touched">La Descripcion del Producto es obligatoria</span>
  </label>
  <textarea class="form-control" #description="ngModel" name="description" [(ngModel)]="product.description" required></textarea>


  <label>Precio:
    <span class="label label-danger" *ngIf="!price.valid && price.touched">El Precio del Producto no es correcto</span>
  </label>
  <input type="text" class="form-control" #price="ngModel" name="price" [(ngModel)]="product.price" required pattern="[0-9]+">


  <label>Imagen:
    <!--<span class="label label-danger" *ngIf="!productCode.valid && productCode.touched">El Codigo del Producto es obligatorio</span>-->
  </label>
  <div *ngIf="isEdit">
    <img src="http://localhost:8088/{{product.image}}"  width="60px"/>
  </div>
  <input type="file" id="file" #image class="form-control" (change)="fileChangeEvent(image)" name="file"   />

  <br/>

  <input type="submit" value="{{title}}" [disabled]="!formProduct.form.valid" class="btn btn-success"/>

</form>
